.DS_Store
/.idea/*

/exp1/.idea/*
/exp1/cmake-build-debug/*
/exp1/CMakeLists.txt

/exp2/.idea/*
/exp2/cmake-build-debug/*
/exp2/CMakeLists.txt

/exp3/.idea/*
/exp3/cmake-build-debug/*
/exp3/CMakeLists.txt

/exp4/.idea/*
/exp4/cmake-build-debug/*
/exp4/CMakeLists.txt